[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
cryptography = "*"
jinja2 = "*"
django = "*"
djangorestframework = "*"
knox = "*"
gunicorn = "*"
django-allauth = {extras = ["socialaccount"], version = "*"}
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.11"
