[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
supabase = {git = "git+https://github.com/supabase-community/supabase-py"}
fastapi = "*"
pydantic = "*"
uvicorn = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
